<div class="col s12">
  <h1 class="flow-text center title-imp teal-text">
    My Dashboard
  </h1>
</div>
</div>
<div class="row">
  <div class="navbar-fixed">
    <div class="col s12 m3 l3">
      <div class="collection">
        <a href="#!" class="collection-item active">Dashboard</a>
        <a href="#!" class="collection-item">Analytics</a>
        <a href="#!" class="collection-item">My Reviews</a>
        <a href="#!" class="collection-item">My Products</a>
        <a href="#!" class="collection-item">Reports</a>
        <a href="#!" class="collection-item">Settings</a>
        <a href="#!" class="collection-item">Contact Support</a>
      </div>
    </div>
    <div class="col s12 m9 l9">
      <%= yield %>
    </div>
  </div>
</div>