<div class="row">
  <div class="col s12 input-field">
    <%= f.text_field :affiliate_tag %>
    <%= f.label :affiliate_tag %>
  </div>
</div>

<div class="row">
  <div class="col s12 input-field">
    <p>Type in the country names which are not displaying ad properly</p>
    <%= f.text_field :target_countries %>
  </div>
</div>