<div id="review-title-modal" class="modal">
  <div class="modal-content">
    <h4>Give us a title for your review</h4>
    <div class="new-vivieu-form-errors">
    </div>
    <%= form_for Review.new, url: product_vivieus_path, method: :post, remote: true do |f| %>
        <div class="row">
          <div class="col s12 input-field">
            <%= f.text_field :title %>
            <%= f.label :title %>
          </div>
        </div>

        <div class="row">
          <div class="col s12 input-field">
            <%= f.submit 'Next ->' %>
          </div>
        </div>
    <% end %>
  </div>
</div>
