<div id="review-title-modal" class="modal blue darken-3">

  <div class="modal-content">
    <h5 class="white-text">Give us a title for your review</h5>
    <div class="new-vivieu-form-errors">
    </div>
    <%= form_for Review.new, url: product_vivieus_path, method: :post, remote: true do |f| %>
    <div class="input-field">
      <%= f.text_field :title %>
      <%= f.label :title %>
    </div>
    <div class="modal-footer blue darken-3">
      <div class="input-field">
        <%= f.submit 'Next', class: 'btn red' %>
      </div>
    </div>
  </div>


  <% end %>
</div>
