<div class="card">
  <div class="card-content">
    <span class="card-title">Add a product</span>
    <div class="row">
      <div class="ajax-result">

      </div>
      <div class="input-field col m12">
        <input type="text" id="query" name="query">
        <div class="add-button-insert">

        </div>
      </div>
    </div>
  </div>
  <div class="card-action">
    <a href="#">This is a link</a>
    <a href="#">This is a link</a>
  </div>
</div>


