<div id="youtube-videos-modal" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4>Add YouTube Video</h4>

    <div class="youtube-videos">

    </div>

  </div>
</div>

<script type="text/javascript" charset="utf-8">
</script>