<div class="card small">
  <div class="card-content white-text">
    <div class="card-image">
      <img src="data.thumbnail" alt="">
    </div>
    <span class="card-title"><%= data.title %></span>
    <p><%= data.description %></p>
  </div>
</div>