<h1>Admin Dashboard</h1>
<% products = Product.order('created_at DESC') %>

<% products.each do |product| %>
    <%= link_to truncate(product.title, length: 20), product_path(product) %>
    <br>
    <%= link_to 'Create a Review', new_review_path(product_id: product.id) %>
    <br>
<% end %>

