<div class="row">
  <div class="col s12">
    <div class="row">
      <h1 class="flow-text">Top review videos for the month</h1>
    </div>
    <div class="row">
      <div class="col s9 m6 l3">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse ratione tempora provident omnis, magni, reprehenderit. Autem perferendis, officia vero debitis, tempora aut, suscipit laborum temporibus officiis hic, placeat iure similique!
      </div>
      <div class="col s9 m6 l3">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse ratione tempora provident omnis, magni, reprehenderit. Autem perferendis, officia vero debitis, tempora aut, suscipit laborum temporibus officiis hic, placeat iure similique!
      </div>
      <div class="col s9 m6 l3">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse ratione tempora provident omnis, magni, reprehenderit. Autem perferendis, officia vero debitis, tempora aut, suscipit laborum temporibus officiis hic, placeat iure similique!
      </div>
      <div class="col s9 m6 l3">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse ratione tempora provident omnis, magni, reprehenderit. Autem perferendis, officia vero debitis, tempora aut, suscipit laborum temporibus officiis hic, placeat iure similique!
      </div>
    </div>
  </div>
</div>