
<div class="card center">
  <div class="card-content ">
    <h1>Log In</h1>
    <%= link_to "Google Sign In", user_google_oauth2_omniauth_authorize_path, class: "red waves-effect waves-light btn-large" %>
  </div>
</div>
