<div class="jumbotron light-blue darken-3 center-align">
  <div class="row">
    <div class="col s12">
      <h1>Vivieu</h1>
      <p>the #1 source for video reviews !</p>
    </div>
  </div>



</div>
<div class="container">
  <div class="row">
    <%= render 'layouts/subnavbar' %>
  </div>
  <div class="row">
    <%= render 'layouts/feed' %>
  </div>
</div>
