<div class="container">


  <%= form_for [:admin, @category], validate: true do |f| %>

      <div class="row">
        <!--<div class="input-field col s12">-->
          <!--<label for="category_name">Name</label>
          <input id="category_name" name="category[name]" type="text">-->

        <!--</div>-->
        <div class="input-field col s12">
        <%= f.text_field :name %>
          <%= f.label :name %>
        </div>


      </div>


      <div class="row">
        <div class="input-field col s12">
          <label for="category_description">Description</label>
          <textarea name="category[description]" id="category_description" class="materialize-textarea"></textarea>

        </div>
      </div>


      <%= f.submit 'Create Category', class: 'waves-effect waves-light btn' %>

  <% end %>
</div>
