.title-imp {
  font-family: 'Roboto';
  font-weight: 500;
}

.showmore { line-height:18px; }
.showmore_content { position:relative; overflow:hidden; }
.showmore_trigger { width:100%; height:45px; line-height:45px; cursor:pointer; }
.showmore_trigger span { display:block; }