/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require toastr
 *= require slick
 *= require slick-theme
 *= require materialize-tags.min
 *= require commontator/application
 *= style
 */


/* The CSS below contains global settings*/


/*CSS styles for the whole website text*/
* {
    font-family: 'Roboto', sans-serif;
}

nav {
    font-family: 'Baloo Thambi', cursive;
}


/*CSS style for error message shown by */
.message {
    padding-top: 35px;
    color: red !important;
}

.form-error {
    color: red !important;
}


