$light-blue: #1976d2;

body {
  background-color: hsl(0, 0%, 95%);
}
/* main nav bar */

.main-nav {
  font-family: 'Baloo thambi';


  padding: 0 40px;
  & .brand-logo {
    font-family: 'Baloo Thambi';
    font-size: 300% !important;

  }
}
.nav-avatar {
  margin: 12px;
  width: 40px;
  height: 40px;
  border: 3px solid white;
}
/* footer */
.site-footer {
  padding: 20px;
  li {
    display: inline-block;
  }
  a {
    padding-left: 10px;
  }
}
/* jumbotron */

.jumbotron {
  padding-bottom: 40px;
  color: white;
  text-align: center;
  h1 {
    font-size: 800%;
    font-family: 'Baloo Thambi';
  }
  p {
    font-size: 150%;
  }
}
.search-bar {

  width: 300px;
  color: white;
}
/* sub nav bar */
.sub-nav-bar {

  li.tab a{

    font-family: 'Baloo thambi';
    text-transform: lowercase;
    font-size: 130%;
    color: #1976d2 ;
  }
}

.dropdown-content li a {
  color: #1976d2;
}
/* product info */
.product-info {
  padding: 40px 0 0 0;
  h4 {

  }
}

/* slider */
.image-box {
  background-color: white;
  width: 250px;
  height: 400px;
}

.nav-search-bar {

  font-style:  italic;
  padding: 0 20px;

}
.mobile-search input {
  margin: 0;
}
.side-nav #logo a {
  font-size: 200%;
  color: blue;
}

/* tags */
.chip {

}
.headliner {
  padding: 20px 0;


  font-family: 'Baloo thambi';


  h1 {
    margin: 0;

  }
}
/* form */
.form-card {
  padding-bottom: 50px;
}
/* log in background */
.log-in-background {
  width: 100%;
  background-color: black;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* pin plugin */
.pin-top {
  position: relative;
  width: 300px;
}
.pin-bottom {
  position: relative;
  width: 300px;
}
.pinned {
  position: fixed !important;
  width: 300px;
}
/* slider plugin */
.indicator-item.active {
  background-color: #1976d2 !important;
}
.product-card {
  margin: 0;
}

/* tab slider */
.tabs {
  .tab a:hover {
    color: blue;
  }
    & .indicator {
    background-color: blue;
  }
}
#down-arrow {
  font-size: 60% !important;
}
.feed-card .col {
  padding: 0;

}
.caption{
  font-family: 'Baloo thambi';
}
.slider.slider-home {
  & .indicators {
    position: absolute;
    display: inline-block;
    text-align: right;
    right: 70px;
    bottom: 70px;
    z-index: 2;

  }
  & .indicator-item {
    background-color: none;
    box-shadow: 1px 1px 5px grey;
  }
}
.review-card {
  img {
    width: 50px;
    height: 250px;
  }
}
.slider .indicators {
  position: absolute;
  display: inline-block;
  right: 70px;
  bottom: 70px;
  z-index: 2;
}

.review-card {
  & .card-title {
    font-weight: 600;
    font-size: 300%;
  }
}
.video-likes {

}
.icon-text {
  font-size: 120%;
  line-height: 0;
}
.related-products {
  img {
    width: 100px;
    height: 100px;
  }
  & .row {
    margin: 0;
  }
}
/* custom search */

/* Basic Style */



/* Search Style */
#search {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    -webkit-transition: all 0.5s ease-in-out;
       -moz-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
	       -o-transition: all 0.5s ease-in-out;
            transition: all 0.5s ease-in-out;
    -webkit-transform: translate(0px, -100%) scale(0, 0);
	     -moz-transform: translate(0px, -100%) scale(0, 0);
	      -ms-transform: translate(0px, -100%) scale(0, 0);
         -o-transform: translate(0px, -100%) scale(0, 0);
	          transform: translate(0px, -100%) scale(0, 0);
    opacity: 0;
    display: none;
}

#search.open {
    -webkit-transform: translate(0px, 0px) scale(1, 1);
       -moz-transform: translate(0px, 0px) scale(1, 1);
    	  -ms-transform: translate(0px, 0px) scale(1, 1);
	       -o-transform: translate(0px, 0px) scale(1, 1);
	           transform: translate(0px, 0px) scale(1, 1);
    opacity: 1;
    z-index: 106;
    display: block;
}

#search input[type="search"] {
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -51px;
    width: 60%;
    margin-left: 20%;
    color: rgb(255, 255, 255);
  	background: transparent;
  	border-top: 1px solid rgba(255, 255, 255, .8);
  	border-bottom: 2px solid rgba(255, 255, 255, .5);
  	border-left: 0px solid transparent;
  	border-right: 0px solid transparent;
    font-size: 40px;
  	font-family: Roboto;
    font-weight: 300;
    text-align: center;
    outline: none;
  	padding: 10px;
}

#search .close {
    position: fixed;
    top: 15px;
    right: 15px;
	  opacity: 1;
	  font-size: 27px;
  	color: #fff;
}

#search .close:hover{
  color: #FC2121;
  cursor: pointer;
}
.mobile-profile {
  & .nav-avatar {
    margin: 0;
  }
  padding: 0 30px;
  img {
    display: block;
    width: 70px;
    height: 70px;
  }
}
.mobile-heading {
  font-size: 200%;
}
#modal1 {
  padding: 40px;
  width: 300px;
}
