<div class="row">
  <div class="tabs-wrapper">
    <div class="blue darken-3 card">
      <div class="white-text card-content">
        <span class="card-title">Need help?</span>
        <p>click on a topic for more info</p>
      </div>
    </div>

    <ul class="collapsible" data-collapsible="accordion">

      <li>
        <div class="collapsible-header">Title</div>
        <div class="red white-text collapsible-body"><p>Make sure the title correctly describes the name of the product.
          Title is used by search engine to find your product</p></div>
        </li>
        <li>
          <div class="collapsible-header">Description</div>
          <div class="red white-text collapsible-body"><p>Description should be succinct and clearly describe the product.
            There is no length restriction but you should make sure to divide the description in paragraphs</p></div>
          </li>
          <li>
            <div class="collapsible-header">Company</div>
            <div class="red white-text collapsible-body"><p>Make sure the company is relevant and it appears on google search</p></div>
          </li>

          <li>
            <div class="collapsible-header">Tags</div>
            <div class="red white-text collapsible-body"><p>Tags are words which describe the product. Put atleast one tag which describes your product. Maximum tags for
              a product is 6. The rest will be ignored by search engine so make sure they are close to the product description</p></div>
            </li>

            <li>
              <div class="collapsible-header">Product Images</div>
              <div class="red white-text collapsible-body"><p>Put atleast 4 product images for your product. If left blank, images won't
                be shown. Each image should be a link and should either end with .jpg or.png and separated with a comma Eg:- <br>
                http://www.example.com/example1.jpg, http://www.example.com/example2.jpg, http://www.example.com/example1.jpg</p></div>
              </li>
            </ul>
          </div>
        </div>
