<div class="row">
  <div class="headliner blue darken-3">
    <h1>Add a product</h1>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col s12 m8">
      <%= render 'products/form' %>

    </div>
    <div class="col s12 m4">
      <%= render 'products/form_help' %>
    </div>
  </div>
</div>
