<div class="container">
  <%= form_for Review.new, validate: true do |f| %>
      <div class="input-field col s12">
        <%= f.text_field :title %>
        <%= f.label :title %>
      </div>

      <div class="input-field col s12">
        <%= f.submit %>
      </div>
  <% end %>
</div>

