<div class="container">
  <% if @review.has_amazon_product? %>
      <%= render 'reviews/edit_youtube_form' %>
  <% else %>
      <h1>Normal form</h1>
      <%= render 'reviews/edit_normal_form' %>
  <% end %>
</div>

<div class="container">
  <div class="row">
    <div class="col s12">
      <%= link_to new_review_amazon_ad_path(@review), class: 'btn waves-effect waves-light' do %>
          Create a native Ad<i class="material-icons right">send</i>
      <% end %>
    </div>
  </div>
</div>