<div class="col s12 m4">
  <div class="card  sticky-action">
    <div class="card-image waves-effect waves-block waves-light">
      <img src="http://materializecss.com/images/office.jpg">
      <span class="card-title">
      falalalalalalalalaal
      </span>
    </div>
    <div class="card-content">
      <div class="row">
        <div class="col s10">
          <div class="chip">
            <img src="images/yuna.jpg">Jane Doe
          </div>
        </div>
        <div class="col s2">

          <i class="activator material-icons right">more_vert</i>
        </div>
      </div>
    </div>




    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Apple iDesk<i class="material-icons right">close</i></span>
      <p>The Apple iDesk is another amazing new innovation from the creators of the iPhone.  Its just like the desk you have but simpler, more advanced and much more expensive.  Why settle with what you have?</p>
    </div>
  </div>
</div>
