<div class="col s12 m4">
  <div class="card sticky-action">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="http://materializecss.com/images/office.jpg">
    </div>
    <div class="card-content feed-card">
      <span class="card-title activator grey-text text-darken-4">Apple iDesk  blala  lala lala lalal alal alalalal alalalal<i class="material-icons right">more_vert</i></span>
      <div class="col s10">
      <p><a href="#">By: Jaja Binks</a></p>
    </div>
    <div class="col s2">
      <p class="grey-text right">60d</p>
    </div>
      <p>in 60 seconds or less!</p>
    </div>
    <div class="card-action">
      <a>Watch</a>
      <a>Product</a>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Apple iDesk<i class="material-icons right">close</i></span>
      <p>The Apple iDesk is another amazing new innovation from the creators of the iPhone.  Its just like the desk you have but simpler, more advanced and much more expensive.  Why settle with what you have?</p>
    </div>
  </div>
</div>
