<!-- <footer class="grey lighten-4 site-footer center grey-text">
  <ul>
    <li>&copy;Copyright 2017</li>
    <li><%= link_to 'about us' %></li>
    <li><%= link_to 'contact' %></li>
  </ul>
</footer> -->

<footer class="page-footer grey darken-3">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Thanks for the support</h5>
        <p class="white-text">Viveau is made possible by you the user so thank you!</p>
      </div>
      <div class="col l4 s12">
        <h5 class="white-text">Check us out below!</h5>
        <ul>
          <li>twitter</li>
          <li>facebook</li>
          <li>google</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright grey darken-4">
    <div class="container">
      &copy; 2016 Copyright Viveau
      <a>contact</a>
      <a>about us</a>
    </div>
  </div>
</footer>
