<nav>
  <div class="nav-wrapper teal acccent-2 lighten-2">
    <a href="/" class="brand-logo"><span class="brand-logo logo">Vivieu</span></a>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down buttons">
      <% if user_signed_in? %>
          <li class="bold-text"><a href="#">Welcome <%= current_user.id %> !</a></li>
          <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
          <li><a href="badges.html" class="waves-effect"><i class="material-icons right">cloud_upload</i>Upload a review</a></li>
      <% else %>
          <li><%= link_to 'Login', new_user_session_path %></li>
          <li><a href="#" class="waves-effect"><i class="material-icons right">cloud_upload</i>Upload a review</a></li>
      <% end %>
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <li><a href="sass.html">Sass</a></li>
      <li><a href="badges.html">Components</a></li>
      <li><a href="collapsible.html">Javascript</a></li>
      <li><a href="mobile.html">Mobile</a></li>
    </ul>
  </div>
</nav>